.debug {
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: red;
}


.main-toolbar-button {
    -size: 24px;
    -fx-padding: 2px;
    -fx-background-color: null;

    -fx-min-width: -size;
    -fx-max-width: -size;
    -fx-min-height: -size;
    -fx-max-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}


.toolbar-button {
    -size: 16px;
    -fx-padding: 2px;
    -fx-background-color: null;

    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
}

.cell-toolbar {
    -fx-padding: 1;
    -fx-border-style: solid inside;
    -fx-border-width: 1;
    -fx-border-insets: 2;
    -fx-border-radius: 5;
    -fx-border-color: skyblue;
}

.toolbar-button:hover {
    -fx-background-color: derive(skyblue, -10%);
}

.toolbar-button .toolbar-button-graphics {
    -fx-background-color: skyblue;
}

.toolbar-button:hover .toolbar-button-graphics {
    -fx-background-color: derive(skyblue, 30%);
}

.main-toolbar-button:hover {
    -fx-background-color: derive(skyblue, -10%);
}

.main-toolbar-button .toolbar-button-graphics {
    -fx-background-color: skyblue;
}

.main-toolbar-button:hover .toolbar-button-graphics {
    -fx-background-color: derive(skyblue, 30%);
}

.execute-cell {
    -fx-shape: "M0 1.00008V13.0001C0 13.7774 0.84797 14.2575 1.5145 13.8576L11.5145 7.8576C12.1618 7.4692 12.1618 6.531 11.5145 6.1426L1.5145 0.14259C0.84797 -0.25733 0 0.22279 0 1.00008zM2 2.76608L9.056 7.0001L2 11.2331V2.76608z";    
}

.insert-cell-after {
    -fx-shape: "M11.9871 1.16054V3.84462C11.9956 3.89712 12 3.95099 12 4.0059C12 4.5578 11.5528 5.0052 11.0011 5.0052H0.99892C0.44723 5.0052 0 4.5578 0 4.0059V0.99926C0 0.44739 0.44723 0 0.99892 0H11.0011C11.5528 0 12 0.44739 12 0.99926C12 1.05417 11.9956 1.10804 11.9871 1.16054zM9.9892 1.99853H1.99784V3.00664H9.9892V1.99853zM1.588 8.991L0.31283 7.7083C-0.07619 7.317 -0.07442 6.6843 0.31677 6.2951C0.70795 5.906 1.34043 5.9078 1.72945 6.2991L3.70507 8.2864C4.0926 8.6762 4.0926 9.3059 3.70507 9.6957L1.70723 11.7054C1.31822 12.0967 0.68574 12.0984 0.29455 11.7093C-0.09664 11.3201 -0.0984 10.6874 0.29061 10.2961L1.588 8.991z";
}

.insert-cell-before {
    -fx-shape: "M1.588 2.98559L0.31283 1.70329C-0.07619 1.3121 -0.07442 0.67963 0.31677 0.29061C0.70795 -0.0984 1.34043 -0.09664 1.72945 0.29455L3.70507 2.28122C4.0926 2.67087 4.0926 3.30032 3.70507 3.68997L1.70723 5.699C1.31822 6.0902 0.68574 6.0919 0.29455 5.7029C-0.09664 5.3139 -0.0984 4.6814 0.29061 4.2902L1.588 2.98559zM11.9871 8.1526V10.8358C11.9956 10.8882 12 10.9421 12 10.997C12 11.5487 11.5528 11.9959 11.0011 11.9959H0.99892C0.44723 11.9959 0 11.5487 0 10.997V7.9914C0 7.4397 0.44723 6.9925 0.99892 6.9925H11.0011C11.5528 6.9925 12 7.4397 12 7.9914C12 8.0463 11.9956 8.1001 11.9871 8.1526zM9.9892 8.9903H1.99784V9.9981H9.9892V8.9903z";
}

.delete-cell {
    -fx-shape: "M11.9871 8.1554V10.8395C11.9956 10.892 12 10.9458 12 11.0007C12 11.5526 11.5528 12 11.0011 12H0.99892C0.44723 12 0 11.5526 0 11.0007V7.9941C0 7.4422 0.44723 6.9948 0.99892 6.9948H11.0011C11.5528 6.9948 12 7.4422 12 7.9941C12 8.049 11.9956 8.1029 11.9871 8.1554zM9.9892 8.9934H1.99784V10.0015H9.9892V8.9934zM2.4973 1.08499L3.28934 0.29268C3.67944 -0.09756 4.3119 -0.09756 4.702 0.29268C5.0921 0.68291 5.0921 1.31561 4.702 1.70585L3.90999 2.49816L4.702 3.29046C5.0921 3.6807 5.0921 4.3134 4.702 4.7036C4.3119 5.0939 3.67944 5.0939 3.28934 4.7036L2.4973 3.91133L1.70527 4.7036C1.31516 5.0939 0.68268 5.0939 0.29258 4.7036C-0.09753 4.3134 -0.09753 3.6807 0.29258 3.29046L1.08462 2.49816L0.29258 1.70585C-0.09753 1.31561 -0.09753 0.68291 0.29258 0.29268C0.68268 -0.09756 1.31516 -0.09756 1.70527 0.29268L2.4973 1.08499z";
}

.move-cell-down {
    -fx-shape: "M1.70711 0.29289C1.31658 -0.09763 0.68342 -0.09763 0.29289 0.29289C-0.09763 0.68342 -0.09763 1.3166 0.29289 1.7071L4.2929 5.7071C4.6834 6.0976 5.3166 6.0976 5.7071 5.7071L9.7071 1.7071C10.0976 1.3166 10.0976 0.68342 9.7071 0.29289C9.3166 -0.09763 8.6834 -0.09763 8.2929 0.29289L5 3.5858L1.70711 0.29289z";
    -fx-min-height: 10px;
    -fx-pref-height: 10px;
    -fx-max-height: 10px;
}

.move-cell-up {
    -fx-shape: "M1.70711 5.7071C1.31658 6.0976 0.68342 6.0976 0.29289 5.7071C-0.09763 5.3166 -0.09763 4.6834 0.29289 4.2929L4.2929 0.29289C4.6834 -0.09763 5.3166 -0.09763 5.7071 0.29289L9.7071 4.2929C10.0976 4.6834 10.0976 5.3166 9.7071 5.7071C9.3166 6.0976 8.6834 6.0976 8.2929 5.7071L5 2.4142L1.70711 5.7071z";
    -fx-min-height: 10px;
    -fx-pref-height: 10px;
    -fx-max-height: 10px;
}

.load-notebook {
    -fx-shape: "M10 3.41421V17C10 17.5523 9.5523 18 9 18C8.4477 18 8 17.5523 8 17V3.41421L6.7071 4.70711C6.3166 5.09763 5.68342 5.09763 5.29289 4.70711C4.90237 4.31658 4.90237 3.68342 5.29289 3.29289L8.2929 0.292893C8.6834 -0.0976311 9.3166 -0.0976311 9.7071 0.292893L12.7071 3.29289C13.0976 3.68342 13.0976 4.31658 12.7071 4.70711C12.3166 5.09763 11.6834 5.09763 11.2929 4.70711L10 3.41421zM4.49927 7.13439C4.97733 6.85785 5.58906 7.02121 5.86561 7.49927C6.1421 7.97733 5.97879 8.58906 5.50073 8.86561C3.3511 10.1091 2 12.4012 2 14.9297C2 18.7957 5.13401 21.9297 9 21.9297C12.866 21.9297 16 18.7957 16 14.9297C16 12.4012 14.6489 10.1091 12.4993 8.86561C12.0212 8.58906 11.8579 7.97733 12.1344 7.49927C12.4109 7.02121 13.0227 6.85785 13.5007 7.13439C16.2622 8.73182 18 11.6799 18 14.9297C18 19.9003 13.9706 23.9297 9 23.9297C4.02944 23.9297 0 19.9003 0 14.9297C0 11.6799 1.73779 8.73182 4.49927 7.13439z";
    -fx-min-height: 24px;
    -fx-pref-height: 24px;
    -fx-max-height: 24px;
    -fx-min-width: 18px;
    -fx-pref-width: 18px;
    -fx-max-width: 18px;
}

.save-notebook {
    -fx-shape: "M10 14.5858L11.2929 13.2929C11.6834 12.9024 12.3166 12.9024 12.7071 13.2929C13.0976 13.6834 13.0976 14.3166 12.7071 14.7071L9.7071 17.7071C9.3166 18.0976 8.6834 18.0976 8.2929 17.7071L5.29289 14.7071C4.90237 14.3166 4.90237 13.6834 5.29289 13.2929C5.68342 12.9024 6.31658 12.9024 6.70711 13.2929L8 14.5858V1C8 0.447715 8.4477 0 9 0C9.5523 0 10 0.447715 10 1V14.5858zM4.49927 7.13439C4.97733 6.85785 5.58906 7.02121 5.86561 7.49927C6.14215 7.97733 5.97879 8.58906 5.50073 8.86561C3.3511 10.1091 2 12.4012 2 14.9297C2 18.7957 5.13401 21.9297 9 21.9297C12.866 21.9297 16 18.7957 16 14.9297C16 12.4012 14.6489 10.1091 12.4993 8.86561C12.0212 8.58906 11.8579 7.97733 12.1344 7.49927C12.4109 7.02121 13.0227 6.85785 13.5007 7.13439C16.2622 8.73182 18 11.6799 18 14.9297C18 19.9003 13.9706 23.9297 9 23.9297C4.02944 23.9297 0 19.9003 0 14.9297C0 11.6799 1.73779 8.73182 4.49927 7.13439z";
    -fx-min-height: 24px;
    -fx-pref-height: 24px;
    -fx-max-height: 24px;
    -fx-min-width: 18px;
    -fx-pref-width: 18px;
    -fx-max-width: 18px;
}

.empty-notebook {
    -fx-shape: "M2 7V21C2 21.5523 2.44772 22 3 22H15C15.5523 22 16 21.5523 16 21V3C16 2.44772 15.5523 2 15 2H7V6C7 6.55228 6.55228 7 6 7H2zM2.12602 5H5V2.12602C3.59439 2.4878 2.4878 3.59439 2.12602 5zM15 0C16.6569 0 18 1.34315 18 3V21C18 22.6569 16.6569 24 15 24H3C1.34315 24 0 22.6569 0 21V6C0 2.68629 2.68629 0 6 0H15z";
    -fx-min-width: 18px;
    -fx-min-height: 24px;
    -fx-max-width: 18px;
    -fx-max-height: 24px;
    -fx-pref-width: 18px;
    -fx-pref-height: 24px;
}